{% extends 'myprofile/page.html' %}

{% block middle %}
  
    <script>
        $(document).ready(function() {
            $('#teaching').DataTable({
                "lengthChange": false,
                "pageLength": 100
            });
        });
    </script>
    <div class="row">
        <div class="col">
            <h3>Επικουρικό Έργο</h3>
        </div>
    </div>
    {% if teachings %}
        <table id = "teaching" class="table">
            <thead>
                <tr>
                    <th scope="col">Μάθημα</th>
                    <th scope="col">Διδάκτορας</th>
                    <th scope="col">Τύπος Διδασκαλίας</th>
                    <th scope="col">Έγκριση</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for teaching in teachings %}
                    <tr>
                        <td>{{ teaching.course }}</td>
                        <td>{{ teaching.candidate }}</td>
                        <td>{{ teaching.get_teaching_type_display }}</td>
                        <td> 
                            {% if teaching.approved_by_faculty == True %}
                                <div class="alert alert-success p-1 m-0 d-inline-block w-100" role="alert">
                                    Ναι{% comment %} {{ teaching.approved_by_faculty }} {% endcomment %}
                                </div>
                            {% else %}
                                <div class="alert alert-danger p-1 m-0 d-inline-block w-100" role="alert">
                                    Όχι{% comment %} {{ teaching.approved_by_faculty }} {% endcomment %}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_teaching_accept_reject_from_list' teaching.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί έργα</p>
    {% endif %} 

{% endblock %}