{% extends 'myprofile/page.html' %}

{% block middle %}

    <script>
        $(document).ready(function() {
            $('#conferencepublication').DataTable({
                "lengthChange": false,
                "pageLength": 100
            });
        });
    </script>
    <div class="row">
        <div class="col">
            <h3>Δημοσιεύσεις Συνεδριών</h3>
        </div>
    </div>
    {% if conferences %}
        <table id = "conferencepublication" class="table">
            <thead>
                <tr>
                    <th scope="col">Τίτλος</th>
                    <th scope="col">Διδάκτορας</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.title }}</td>
                        <td>{{ conferences.candidate.display_name }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_conference' conference.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί δημοσιεύσεις</p>
    {% endif %} 

{% endblock %}