{% extends 'myprofile/page.html' %}

{% block middle %}
  
    <script>
        $(document).ready(function() {
            $('#teaching').DataTable({
                "lengthChange": false,
                "pageLength": 100
            });
        });
    </script>
    <div class="row">
        <div class="col">
            <h3>Επικουρικό Έργο</h3>
        </div>
    </div>
    {% if teachings %}
        <table id = "teaching" class="table">
            <thead>
                <tr>
                    <th scope="col">Μάθημα</th>
                    <th scope="col">Διδάκτορας</th>
                    <th scope="col">Τύπος Διδασκαλίας</th>
                    <th scope="col">Έγκριση</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for teaching in teachings %}
                    <tr>
                        <td>{{ teaching.course }}</td>
                        <td>{{ teaching.candidate }}</td>
                        <td>{{ teaching.teaching_type }}</td>
                        <td>{{ teaching.approved_by_faculty }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_teaching_accept_reject' teaching.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί έργα</p>
    {% endif %} 

{% endblock %}