{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}
{% load profile_tags %}

{% block middle %}
{{ form.media }}

<form method="post">
    {% csrf_token %}
    {% crispy form %} 
</form>

{% if request.user|is_staff_member %}
    {% if unchecked_teachings %}
        <br></br>
        <div class="alert alert-danger" role="alert">
            Έχετε μη εγκεκριμένο Επικουρικό Έργο που απαιτεί έλεγχο!
        </div>
    {% endif %}
    <br></br>
    <div>
        Δείτε τη λίστα με τα <a href="{% url 'phds:staff_list_teachings' %}" class="alert-link">Επικουρικά Έργα</a> που είστε επιτηρητής
    </div>
{% endif %}

{% if perms.myprofile.is_secreteriat %}
{% if form.instance.pk %}
<p></p>
<button type="button" class="btn btn-danger" onclick="delete_obj()">
    Διαγραφή
</button>
<script>
    function delete_obj() {
    var result = confirm("Είστε σίγουροι;");
    if (result) {
      window.location.replace('{% url 'myprofile:delete_associate' form.instance.pk %}');
    }
    }
</script>  
{% endif %}
{% endif %}

{% endblock %}