{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}

{% block middle %}
  
{% crispy form %} 

{% if form.instance.photo %}
    <div class="current-photo">
        <img src="{{ form.instance.photo.url }}" alt="Current Photo" style="max-width: 200px; max-height: 200px; float: left;">
        <div style="clear: both;"></div>
    </div>
{% endif %}

{% if perms.myprofile.is_secreteriat %}
    {% if form.instance.pk %}
        <p></p>
        <button type="button" class="btn btn-danger" onclick="delete_obj()">
            Διαγραφή
        </button>
        <script>
            function delete_obj() {
                var result = confirm("Είστε σίγουροι;");
                if (result) {
                    window.location.replace('{% url 'myprofile:sec_delete_phd_student' form.instance.pk %}');
                }
            }
        </script>  
    {% endif %}
{% endif %}

{% endblock %}