<span class="navbar-text nav-link">
    <a href='{% url 'theses:sec_list' %}'> Διπλωματικές </a>
    <a href='{% url 'timesheets:sec_list' %}'> Timesheets </a>
    <a href='{% url 'leaves:sec_list_leaves' %}'> Άδειες </a>
    <a href='{% url 'projects:sec_list_projects' %}'> Έργα </a>
    <a href='{% url 'curricula:list_courses' %}'> Μαθήματα </a>    
    <a href='{% url 'myprofile:list_staff' %}'> Διδάσκοντες </a>
    <a href='{% url 'myprofile:list_associates' %}'> Συνεργάτες </a>  
    <a href='{% url 'associates:sec_list_cards' %}'> Κάρτες </a>  
    <a href='{% url 'myprofile:logout' %}'> Έξοδος </a>
</span>