{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}

{% block middle %}

    {% if form %}
        <h1>Στοιχεία Προφίλ</h1>
    {% endif %} 

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}        
        {% crispy form %}
        {% if form.instance.photo %}
            <div class="current-photo">
                <img src="{{ form.instance.photo.url }}" alt="Current Photo" style="max-width: 200px; max-height: 200px; float: left;">
                <div style="clear: both;"></div>
            </div>
        {% endif %}
    </form>

    {% if form.instance.supervisor %}
        <p></p>
        <div>
            <p> Επιβλέπων: {{  form.instance.supervisor.display_name }}</p>
            <p> Μέλος 1: {{  form.instance.member1.display_name }}</p>
            <p> Μέλος 2: {{  form.instance.member2.display_name }}</p>
        </div>
    {% endif %}

{% endblock %}