{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}

{% block middle %}

    <!-- phd details -->
    {% crispy form %}

    <!-- phd reports -->
    <script>
        $(document).ready(function() {
            $('#annualreport').DataTable({
                "lengthChange": false,
                "pageLength": 10
            });
        });
    </script>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col">
            <h3>Ετήσιες Εκθέσεις</h3>
        </div>
    </div>
    {% if reports %}
        <table id = "annualreport" class="table">
            <thead>
                <tr>
                    <th scope="col">Έκθεση</th>
                    <th scope="col">Έτος</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.report }}</td>
                        <td>{{ report.year }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_report_recommend' report.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί εκθέσεις</p>
    {% endif %} 

    <!-- phd journals -->
    <script>
        $(document).ready(function() {
            $('#journalpublication').DataTable({
                "lengthChange": false,
                "pageLength": 10
            });
        });
    </script>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col">
            <h3>Δημοσιεύσεις Περιοδικών</h3>
        </div>
    </div>
    {% if journals %}
        <table id = "journalpublication" class="table">
            <thead>
                <tr>
                    <th scope="col">Τίτλος</th>
                    <th scope="col">Λεπτομέρειες</th>
                </tr>
            </thead>
            <tbody>
                {% for journal in journals %}
                    <tr>
                        <td>{{ journal.title }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_journal' journal.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί Δημοσιεύσεις Περιοδικών</p>
    {% endif %}

    <!-- phd conferences -->
    <script>
        $(document).ready(function() {
            $('#conferencepublication').DataTable({
                "lengthChange": false,
                "pageLength": 10
            });
        });
    </script>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col">
            <h3>Δημοσιεύσεις Συνεδριών</h3>
        </div>
    </div>
    {% if conferences %}
        <table id = "conferencepublication" class="table">
            <thead>
                <tr>
                    <th scope="col">Τίτλος</th>
                    <th scope="col">Λεπτομέρειες</th>
                </tr>
            </thead>
            <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.title }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_conference' conference.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί Δημοσιεύσεις Συνεδριών</p>
    {% endif %} 

    <!-- phd teachings -->
    <script>
        $(document).ready(function() {
            $('#teaching').DataTable({
                "lengthChange": false,
                "pageLength": 10
            });
        });
    </script>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col">
            <h3>Επικουρικό Έργο</h3>
        </div>
    </div>
    {% if teachings %}
        <table id = "teaching" class="table">
            <thead>
                <tr>
                    <th scope="col">Μάθημα</th>
                    <th scope="col">Τύπος Διδασκαλίας</th>
                    <th scope="col">Λεπτομέρειες</th>
                </tr>
            </thead>
            <tbody>
                {% for teaching in teachings %}
                    <tr>
                        <td>{{ teaching.course }}</td>
                        <td>{{ teaching.teaching_type }}</td>
                        <td>
                            <a href="{% url 'phds:staff_spectate_teaching_accept_reject' teaching.id %}" type="submit" class="btn btn-primary tablebutton"> Προβολή </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Δεν έχουν καταχωρηθεί Έργα</p>
    {% endif %}

{% endblock %}